#statsnav{
	width: 746px;
}
#statsnav_head{
	float: left;
}
#statsnav_spacer{
	background: url('/site_media/images/stats/navigation/statsnav_lefts.jpg') no-repeat 0 0;
	width: 160px;
	height: 32px;
	float: left;
	font-size: 0.95em;
	padding-top: 4px;
}
#statsnav_nav{
	float: left;
	width: 490;
	height: 32px;
}
#statsnav_rights{
	background: url('/site_media/images/stats/navigation/statsnav_rights.jpg') no-repeat 0 0;
	width: 6px;
	height: 32px;
	float: left;
}

#statshover{
  display: block;
  width: 98px;
  height: 32px;
  background: url("/site_media/images/stats/navigation/statsnav_hover.jpg") no-repeat 0 0;
  text-decoration: none;
  text-align: center;
  font-size: 9pt;
  line-height: 35px;
  color: #bcb6a3;
  float: left;
}

.active
{
	background: url("/site_media/images/stats/navigation/statsnav_hover.jpg") no-repeat 0 -32px !important;
}

#statshover:hover{ 
  background-position: 0 -32px;
}

#nav_form
{
	padding: 2px;
}

#member_id
{
	margin-left: 5px;
    border: solid 1px #696969;
	color: #FFFFFF;
    width: 35px;
    background-color: #3E3E3E;
}

#member_id_submit
{
	font-size: 1.1em;
    border: solid 1px #FFFFFF;
	color: #FFFFFF;
    width: 35px;
    background-color: #7E7E7E;
}