{% extends "base.html" %}

{% load assets %}
{% block stylesheets %}
	{% assets "css_registration" %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}
{% block scripts %}
	{% assets "js_registration" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
{% block title %}Password reset{% endblock %}

{% block content %}
<h1>Password reset</h1>

<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<script type="text/javascript">
$(document).ready(function()
{
	$("#reset_form").validationEngine();
});
</script>

<form action="" method="post" id="reset_form">{% csrf_token %}
{% if form.errors %}
    <div class="errors">
        <p>Error while submitting form:</p>
        {% for field in form %}
        	{% if field.errors %}
        		<strong>{{ field.label_tag }}:</strong> {{ field.errors }}
        	{% endif %}
        {% endfor %}
    </div>
{% endif %}

<label for="id_email">E-mail address:</label> 
<input type="text" name="email" id="id_email" class="required validate[required,custom[email]]" />

<p><input type="submit" name="submit" value="Reset my password" /></p>
</form>
{% endblock %}