{% extends "base.html" %}

{% load assets %}
{% block stylesheets %}
	{% assets "css_registration" %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}
{% block scripts %}
	{% assets "js_registration" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
{% block title %}Password reset{% endblock %}

{% block content %}
{% if validlink %}
<h1>Enter new password</h1>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

{% if form.errors %}
    <div class="errors">
        <p>Error while submitting form:</p>
        {% for field in form %}
        	{% if field.errors %}
        		<strong>{{ field.label_tag }}:</strong> {{ field.errors }}
        	{% endif %}
        {% endfor %}
    </div>
{% endif %}

<script type="text/javascript">
$(document).ready(function()
{
	$("#reset_form").validationEngine();
});
</script>
<form action="" method="post" id="reset_form" class="formular">{% csrf_token %}
	
	<table class="form">
	<tr>
		<th><label for="id_new_password1">New password:</label></th>
		<th><input type="password" name="new_password1" id="id_new_password1" class="validate[required]" /></th>
	</tr>
	<tr>
		<th><label for="id_new_password2">Confirm password:</label></th>
		<th><input type="password" name="new_password2" id="id_new_password2" class="validate[required,confirm[id_new_password1]" /></th>
	</tr>
	</table>
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}