<div id="statsnav">
	<div id="statsnav_head"><img src="{{ MEDIA_URL }}/site_media/images/rankings/statsnav_head.jpg" alt="Rankings" />
	</div>
	<div id="statsnav_spacer"></div>
	<div id="statsnav_nav">
		<a id="statshover" href="{% url rankings_top_player %}">Top player</a>
		<a id="statshover" href="{% url rankings_top_class %}">Top class</a>
		<a id="statshover" href="{% url rankings_top_map %}">Top map</a>
		<a id="statshover" href="{% url rankings_top_weapon %}">Top weapon</a>
		<a id="statshover" href="#">W.I.P</a>
	</div>
	<div id="statsnav_rights">
	</div>
</div>