#login_links
{
	margin-top: -18px;
}

#guys
{
	z-index: 102;
	position: relative;
}

h2
{
	font-size: 1.5em;
}

#footer
{
	margin-top: -40px !important;
	padding-top: 10px;
}

#content
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#poll
{
	top: 0 !important;
}

#poll_results
{
	margin-bottom: 8px;
}

div.percentage
{
	margin-top: -20px;
}

div.percentage_text
{
	margin-top: -12px;
}

/* style.css */
h1
{
	margin-bottom: -5px;
}

/* index.css */
#older_polls
{
	margin-bottom: 10px;
}

#latest_articles
{
	margin-bottom: 10px;
}

/* summary.css */
div#Sum_left_constrain p
{
	margin-bottom: -6px;
}

/* top_bar.css */
#statsfor{
	padding-top: 10px;
}

/* signature_images.css */
table#sig_image
{
	margin-top: 40px;
}