<div id="links"><a href="/">Home</a> | <a href="{% url news_index %}">News</a> | <a href="{% url stats_servers %}">Servers</a> | <a href="{% url stats_index %}">Stats</a> | <a href="{% url rankings_top_player %}">Rankings</a> | <a href="{% url articles_index %}">Articles</a> | <a href="{% url polls_index %}">Polls</a> | <a href="/help/">Help</a> | <a href="{% url partners_index %}">Partners</a> | <a href="/link-to-us/">Link to us</a> | <a href="/about/">About</a></div>
<div id="copyrights">FireSky® is a registered trademark of Cheyenne Mountain Entertainment, Inc. STARGATE SG-1© 1997-2009 MGM Television Entertainment Inc. and MGM Global Holdings Inc. STARGATE ATLANTIS© 2004-2009 MGM Global Holdings Inc. STARGATE SG-1, STARGATE ATLANTIS and STARGATE WORLDS are trademarks of Metro-Goldwyn-Mayer Studios, Inc. All rights reserved. METRO-GOLDWYN MAYER™ & © 2009 Metro-Goldwyn-Mayer Studios Inc. All rights reserved. All other trademarks or tradenames are the property of their respective owners.</div>
<div id="powered_by">
	<p>Powered by and built using open and free solutions</p>
	<a href="http://www.python.org" target="_blank">Python</a> |
	<a href="http://www.djangoproject.com" target="_blank">Django</a> |
	<a href="http://www.mysql.com" target="_blank">Mysql</a> |
	<a href="http://www.mongodb.org" target="_blank">MongoDB</a> |
	<a href="http://code.google.com/p/redis/" target="_blank">Redis</a> |
	<a href="http://www.apache.org" target="_blank">Apache</a> |
	<a href="http://www.nginx.org" target="_blank">Nginx</a> |
	<a href="http://www.freebsd.org" target="_blank">FreeBSD</a>
</div>