<div id="mainnav_left">
</div>
<div id="mainnav_nav">
	<a id="nav_home" href="/"><span class="inivisi">Home</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_servers" href="{% url stats_servers %}"><span class="inivisi">Servers</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_stats" href="{% url stats_index %}"><span class="inivisi">Stats</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_rankings" href="{% url rankings_top_player %}"><span class="inivisi">Rankings</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_articles" href="{% url articles_index %}"><span class="inivisi">Articles</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_help" href="/help/"><span class="inivisi">Help</span></a>
	<img class="nav_break" src="{{ MEDIA_URL }}/site_media/images/navigation/nav_break.png" />
	<a id="nav_about" href="/about/"><span class="inivisi">About</span></a>
</div>
<div id="mainnav_right">
</div>